html{
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 400;
	font-style: normal;
  font-size: 1vw;
  line-height:1.45;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color:$white;
}

h1,h2,h3,h4,h5,h6{
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 300;
	letter-spacing:.05em;
}
h1{
	font-size:4em;
	line-height:1.2;
	margin-bottom:2rem;
}
h2{
	font-size:2.5em;
}
h3{
	font-size:1.1em;
	font-weight: 600;
	&.section-head{
		padding-bottom:1rem;
		margin-bottom:1rem;
		border-bottom:1px solid $grey;
	}
}
h4{
	font-weight: 600;
}
h5{
	font-weight: 600;
}
h6{

}

p{
  margin: 15px 0 20px;
}

ul{
	padding:0;
	list-style:none;
	li{

	}
}

hr{

}	

@media screen and (max-width:1200px) {

	html{
		font-size:16px;
	}

	.container{
		padding:0px 1.5em;
	}

}