body,p,ol,ul,h1,h2,h3,h4,h5,a,input,select,radio{
	text-rendering: geometricPrecision;
}
html{
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 400;
	font-style: normal;
  font-size: 1vw;
  line-height:1.55;
  letter-spacing:0.04em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color:$white;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 300;
	letter-spacing:.03em;
	line-height:1.35;
	&.indent{
		text-indent:1em;
	}
}
h1{
	font-size:3.5em;
	line-height:1.25;
  font-weight: 400;
  letter-spacing: 0em;
  span,a{
  	text-decoration:underline 1px;
  	text-decoration-color:$grey;
  	text-underline-offset: 0.1em;
  	&:hover{
  		color:$highlight;
  		text-decoration-color:$highlight;
  	}
  }
}
h2{
	font-size:2.1em;
	line-height:1.3;
  font-weight: 400;
}
h3{
	font-size:1.3em;
	line-height:1.2;
	&.section-head{
		display:flex;
		flex:1;
		justify-content:space-between;
		padding-bottom:.3em;
		margin-bottom:1em;
		border-bottom:1px solid $grey;
		position:relative;
		a{
			display: flex;
		}
	}
}
h4{
	font-weight: 600;
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid #222;
}
h5{
	font-weight: 600;
}
h6{

}
p{
  margin: 0px 0 1rem 0px;
	text-indent:1rem;
}
ul{
	padding:0;
	list-style:none;
	li{

	}
	.tag{
		display:inline-block;
		margin-right:.3rem;
		margin-bottom:.4rem;
		padding: .6rem 1.4rem;
		font-size: 1.4vw;
		border:1px solid $grey;
			border-radius:10rem;
			&:hover{
  			background:$grey;
			}
	}
	.v-list-item{
		padding: .6rem 0rem;
		border-top:1px solid $grey;
	}
}
hr{

}
a:not(.post-link),
a:not(.post-link):active,
a:not(.post-link):visited{
	color:$white;
	&:hover{
  		color:$highlight;
  		text-decoration-color:$highlight;
	}
}

@media screen and (max-width:1200px) {

	html{
		font-size:1vw;
	}
	.container{
		padding:0px 1.5em;
	}

}