html{
  font-family: "Open Sans", sans-serif;
  font-size: 1vw;
  line-height:1.45;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color:$white;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Open Sans", sans-serif;
	letter-spacing:.05rem;
}
h1{
	font-size:4em;
	font-weight:100;
	line-height:1.2;
	margin-bottom:2rem;
}
h2{
	font-size:2em;
	font-weight:100;
}
h3{
	font-size:1.5em;
	font-weight:400;
}
h4{
	font-weight:400;
}
h5{
	font-weight:400;
}
h6{
	font-weight:400;
}

p{
  margin: 15px 0 20px;
}

ul{
	li{

	}
}

hr{

}	

@media screen and (max-width:1200px) {

	html{
		font-size:16px;
	}

	.container{
		padding:0px 20px;
	}

	.posts{
		main{
			flex-direction:column;
		}
		.post{
			width:100%;
			margin-bottom:2em;
		}
	}

}