// Main SCSS Global Styles

.row{
}

.transition{
  position:relative;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
  top:0vh;;
}
.page-enter,
.page-leave-to{
  opacity: 0;
}

.page-enter{
  top:-3vh;
}
.page-leave-to{
  top:3vh;
}

// Button

.button, 
input[type="submit"] {
  display: inline-block;
  font-size: .7rem;
  text-transform: uppercase;
  padding: 15px 30px;
  letter-spacing: 2px;
  position: relative;
  border:1px solid $grey;
  border-radius:.3em;
  position:relative;
  &:active, &:focus{
    border-color:$white;
    span{
      color:$white;
      right:2px;
    }
  }
}

// Image Grid

.image-grid{
  img.grid-image{
    display:block;
    aspect-ratio: 16 / 9;
  }
}

//  Padding Utility Classes

.remove-padding-b{
  padding-bottom:0 !important;
}